/* Here is where i customize my borders, i can change color, width, and style on top of margin and padding */
div {
    border-style: solid;
    border-width: 0px;
    border-color: black;
    padding: 2px;
    margin: 0px;
    background-size: cover;
    text-align: center;
    color: #ac2925;
    font-size: 25px;
    font-style: oblique;
}

/* Here is where i customize my container, i can change color, width, and style just like i did above. */
.container{
    border-style: solid;
    border-width: 0px;
} 

/* Here is where i customize my row, i can change color, width, and style just as before. */
.row{
    border-style: solid;
    border-width: 0px;
}

/* Here is where i customize my body, this is where i can change  all the text, the text color, and style
   on the website except for my technology page because of one minor visual detail */
body{
    background-size: cover;
    text-align: center;
    color: #ac2925;
    font-size: 25px;
    font-style: oblique;
}

/* Here is where I had to change the the text color of my technology page, I did this because the text wasn''t very readable
   on the background image. I also put in the background images for all the pages and the Jumbotron. */
#tech{
    
}

.index{
    
}

#Projects{
   
}


   
